# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\phpshtorm\react-shopping-cart-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
